# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lending_db
POSTGRES_USER=lending_user
POSTGRES_PASSWORD=lending_pass

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=lending_db

# Mock Bureau API
BUREAU_API_URL=http://localhost:5001

# MLflow
MLFLOW_TRACKING_URI=./mlruns
