# Data & databases
pymongo==4.7.2
psycopg2-binary==2.9.9
pandas==2.2.2
numpy==1.26.4
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.30

# Feature engineering
scipy==1.13.1

# Modeling
scikit-learn==1.5.0
xgboost==2.0.3
lightgbm==4.3.0
shap==0.45.1
hyperopt==0.2.7

# ML tracking
mlflow==2.13.2

# API
fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.2

# Mock bureau API
flask==3.0.3

# Dashboard
streamlit==1.35.0
plotly==5.22.0

# Notebooks
ipykernel==6.29.4
jupyter==1.0.0

# Testing
pytest==8.2.2
httpx==0.27.0
